#!/usr/local/sbin/tac_plus-ng
# Tacacs config from config_2026-04-21_10-36-17.cfg
# Description: generated at 2026-04-21 10:36:17
#!/usr/local/sbin/tac_plus-ng
id = spawnd {
    listen = {
        address = 0.0.0.0
        port = 49
    }
    spawn = {
        instances min = 1
        instances max = 10
    }
    background = no
}
id = tac_plus-ng {
    log accesslog { destination = /var/log/tacacs/%Y/%m/access-%Y-%m-%d.log }
    log authenticationlog { destination = /var/log/tacacs/%Y/%m/authentication-%Y-%m-%d.log }
    log authorizationlog { destination = /var/log/tacacs/%Y/%m/authorization-%Y-%m-%d.log }
    log accountinglog { destination = /var/log/tacacs/%Y/%m/accounting-%Y-%m-%d.log }
    
    access log = accesslog
    authentication log = authenticationlog
    authorization log = authorizationlog
    accounting log = accountinglog
    
    mavis module = external {
        # Set environment variables for LDAP connection
        setenv LDAP_SERVER_TYPE="freeipa"
        setenv LDAP_HOSTS="ldaps://ipa.example.com:636"
        setenv LDAP_BASE="dc=example,dc=com"
        setenv LDAP_USER="uid=app_tacacs,cn=users,cn=accounts,dc=example,dc=com"
        setenv LDAP_PASSWD="change_this"
        setenv REQUIRE_TACACS_GROUP_PREFIX="0"
        setenv LDAP_FILTER="(&(objectClass=inetorgperson)(uid=%s))"
        setenv TACACS_GROUP_PREFIX="tacacs_"
        
        exec = /usr/local/lib/mavis/mavis_tacplus-ng_ldap.pl
    }

    login backend = mavis
    user backend = mavis
    pap backend = mavis   
    host = C2.D1.R4.AS2 {
        address = 172.17.204.10
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = C2.D1.R2.AS2 {
        address = 172.17.204.9
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = C2.D1.R3.AS2 {
        address = 172.17.204.19
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = C2.D1.R5.AS2 {
        address = 172.17.204.27
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = C2.D1.R6.AS2 {
        address = 172.17.204.47
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = C2.D1.R3.AS1 {
        address = 172.17.204.39
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = C2.D1.R3.AS3 {
        address = 172.17.204.41
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = C2.D1.R5.AS1 {
        address = 172.17.204.49
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = C2.D1.R5.AS3 {
        address = 172.17.204.50
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = C2.D1.R5.AS4 {
        address = 172.17.204.52
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = C2.D1.R5.AS5 {
        address = 172.17.204.53
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = C2.D1.R5.AS6 {
        address = 172.17.204.54
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = C2.D1.R6.AS1 {
        address = 172.17.204.46
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = C2.D1.R6.AS3 {
        address = 172.17.204.48
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = All-Switches {
        address = 172.17.204.0/24
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = WTG-Switches {
        address = 172.17.28.0/24
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = C2.A1.R7.AS1 {
        address = 172.17.204.79
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = C2.A1.R7.AS2 {
        address = 172.17.204.80
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = C2.A1.R7.AS3 {
        address = 172.17.204.81
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = C2.A1.R7.AS4 {
        address = 172.17.204.82
        key = "N3wT4c4csK3y_T3st2026!"
    }   
    host = C2.A1.R7.AS5 {
        address = 172.17.204.83
        key = "N3wT4c4csK3y_T3st2026!"
    }
    group = lab-admins
    group = taco
    group = cdrouter
    user davis {
        password login = mavis
        member = lab-admins
    }
    user caleb {
        password login = mavis
        member = lab-admins
    }
    user nick {
        password login = mavis
        member = lab-admins
    }
    user testuser {
        password login = mavis
        member = lab-admins
    }
    user cdrouter {
        password login = mavis
        member = cdrouter
    }
    user taco {
        password login = crypt "$6$rounds=656000$wzDWP759jdzNA88H$GWEy0FhQCZ2ukVGc8dBrM5hmuGC6HGwxS5OWuRikxYy0v3VpDULJ7UyZKPief/32H.7M759lzrXX3.3FSUAys1"
        member = taco
    }
    user scpadmin {
        password login = crypt "$6$rounds=656000$e3RPHIzZGzNQO.8r$52egLC7Y3C3Z35r/rzW5ybpTh6i6hlX5tpyquFRJ/tgio9J.K1L2liS8s2L0ahExVivT.4PEDXb3tNMdFoRXn/"
        member = lab-admins
    }
    # Profile Configuration Options

    profile taco_profile {
    script {
        if (service == shell) {
            if (cmd == "") {
                set priv-lvl = 15
                permit
            }
            if (cmd =~ /^show/) permit
            if (cmd =~ /^configure terminal/) permit
            if (cmd =~ /^interface TenGigabitEthernet 1\.1\.1/) deny
            if (cmd =~ /^interface TenGigabitEthernet 1\.1\.2/) deny
            if (cmd =~ /^interface TenGigabitEthernet 1\.1\.3/) deny
            if (cmd =~ /^interface TenGigabitEthernet 1\.1\.4/) deny
            if (cmd =~ /^interface/) permit
            if (cmd =~ /^shutdown/) permit
            if (cmd =~ /^no shutdown/) permit
            if (cmd =~ /^power inline never/) permit
            if (cmd =~ /^power inline auto/) permit
            deny
        }
    }
}

    # End of Profile Configuration Options

    profile lab_admins_profile {
        script {
           if (service==shell){
              set priv-lvl=15

            permit
            }

        deny
        }
    }

    profile cdrouter_profile {
        script {
           if (service==shell){
              set priv-lvl=15

            permit
            }

        deny
        }
    }

    ruleset {
     rule default_ruleset {
        enabled=yes
        script {
       if (group==lab-admins){
          profile=lab_admins_profile

          permit
        }
       if (group==cdrouter){
          profile=cdrouter_profile

          permit
        }
       if (group==taco){
          profile=taco_profile

          permit
        }

            deny
            }
        }

    }

}
